@page
@model BulkywWebRazor_Temp.Pages.Categories.CreateModel
@{



<form method="post">
    <h1 class="text-center">Category</h1>
    
    <div class="mb-3 row">
            <label asp-for="Category.Name" class="form-label"></label>
            <input asp-for="Category.Name" class="form-control" required />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
    </div>

    <div class="mb-3 row">
            <label asp-for="Category.DisplayOrder" class="form-label"></label>
            <input asp-for="Category.DisplayOrder" class="form-control" required />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
    </div>

    <div class="row form-control">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="text-end">
            <a asp-page="/categories/index"  class="btn btn-secondary">Back</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

}
