@page
@model BulkywWebRazor_Temp.Pages.Categories.EditModel
@{

    <form method="post">
        <input type="hidden" asp-for="Category.Id" />
        <div class="form-group">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-page="/categories/index" class="btn btn-secondary">Back</a>
    </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

}
